<section id="concerts" class="concerts">
  <div class="concerts-container">
    <h2 class="section-title">Найближчі концерти</h2>
    <table class="concerts-table">
      <thead>
        <tr class="concerts-header">
          <th>Місто / Заклад</th>
          <th>К-ть місць</th>
          <th>Дата і час</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="concert-row">
          <td class="concert-location" data-label="Місто / Заклад">
            Київ — Docker-G Pub
          </td>
          <td class="concert-available-tickets" data-label="К-ть місць">0</td>
          <td class="concert-date" data-label="Дата і час">
            25.10.2025, 19:00
          </td>
          <td data-label="">
            <button type="button" class="buy-ticket">Замовити квиток</button>
          </td>
        </tr>
        <tr class="concert-row">
          <td class="concert-location" data-label="Місто / Заклад">
            Львів — !FESTrepublic
          </td>
          <td class="concert-available-tickets" data-label="К-ть місць">400</td>
          <td class="concert-date" data-label="Дата і час">
            01.11.2025, 20:00
          </td>
          <td data-label="">
            <button type="button" class="buy-ticket">Замовити квиток</button>
          </td>
        </tr>
        <tr class="concert-row">
          <td class="concert-location" data-label="Місто / Заклад">
            Одеса — Зелен театр
          </td>
          <td class="concert-available-tickets" data-label="К-ть місць">700</td>
          <td class="concert-date" data-label="Дата і час">
            08.11.2025, 18:30
          </td>
          <td data-label="">
            <button type="button" class="buy-ticket">Замовити квиток</button>
          </td>
        </tr>
        <tr class="concert-row">
          <td class="concert-location" data-label="Місто / Заклад">
            Харків — ArtZavod
          </td>
          <td class="concert-available-tickets" data-label="К-ть місць">600</td>
          <td class="concert-date" data-label="Дата і час">
            16.11.2025, 19:00
          </td>
          <td data-label="">
            <button type="button" class="buy-ticket">Замовити квиток</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
