<div class="mobile-menu-wrapper">
  <div class="mobile-menu-container">
    <button class="mobile-menu-close-btn" type="button">
      <span class="modal-close">&times;</span>
    </button>
    <nav class="mobile-menu-navigation">
      <ul class="list mobile-menu">
        <li class="mobile-menu-item">
          <a class="link mobile-menu-link mobile-active-studio" href="#history"
            >Про гурт</a
          >
        </li>
        <li class="mobile-menu-item">
          <a class="link mobile-menu-link" href="#concerts">Концерти</a>
        </li>
        <li class="mobile-menu-item">
          <a class="link mobile-menu-link" href="#about">Галерея</a>
        </li>
        <li class="mobile-menu-item">
          <a class="link mobile-menu-link" href="#contact">Контакти</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
