.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../img/pexels-annamw-1047442\ \(1\).jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 20px;
}

.hero-content {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
}

.hero-title {
  font-weight: 900;
  font-size: 42px;
}

.hero-subtitle {
  font-size: 20px;
}

.accent-color {
  color: aqua;
}

.hero-button {
  display: block;
  width: 250px;
  min-height: 50px;
  margin-top: 20px;
  background-color: rgb(255, 236, 28);
  color: #000000;
  padding: 15px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(255, 204, 0, 0.4);
  border: none;
  overflow: hidden;
}

.hero-button:hover,
.hero-button:focus {
  box-shadow: 0 6px 20px rgba(255, 196, 0, 0.6);
  background-color: rgb(255, 213, 0);
}

@media (max-width: 768px) {
  .hero {
    padding: 100px 20px;
  }

  .hero-content {
    text-align: center;
    align-items: center;
  }

  .hero-title {
    font-size: 32px;
  }

  .hero-subtitle {
    font-size: 18px;
  }

  .hero-button {
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
    padding: 12px;
  }

  .hero-button:active {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(255, 196, 0, 0.6);
    background-color: rgb(255, 234, 0);
  }
}
